<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>
    </div>
    <hr>

    <div class="col-md-12">
        <div style="display: flex;">
        <h1><strong>ID Troca: </strong><span style="color: rgb(37, 37, 189);">001</span></h1>
        <button style="margin-left: 74rem;"class="btn btn-primary">Editar Troca</button>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h2 class="entidades">Troca</h2>
        </div>

        <table class="table table-hover">
            <thead class="table-active">
              <tr>
                <th scope="col">Nome</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td></td>
              </tr>

            </tbody>
          </table>

    </div>

</div>