<div class="container-fluid my-4 mx-auto">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
      <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
    </div>
  </div>
  <hr>

  <div class="row justify-content-md-center mb-5">
    <div class="col-md-auto">
      <h1><strong>ID Troca: </strong><span style="color: rgb(37, 37, 189);">{{troca?.id}}</span></h1>
    </div>
    <div class="col-md-auto">
      <h1><strong>Status: </strong><span style="color: rgb(37, 37, 189);">{{troca?.status}}</span></h1>
    </div>
  </div>


  <div class="row">



    <div class="col-12 text-center">
      <h1 class="entidades"><strong>Dados do Cliente</strong></h1>
    </div>


    <table class="table table-hover">
      <thead class="table-active">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">id</th>
          <th scope="col">CPF</th>
          <td scope="col">Telefone</td>
          <td scope="col">Email</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{cliente?.nome}}</td>
          <td>{{cliente?.id}}</td>
          <td>{{cliente?.cpf}}</td>
          <td>{{cliente?.telefone}}</td>
          <td>{{cliente?.email}}</td>
        </tr>

      </tbody>
    </table>

    <br><br><br>

    <div class="col-12 text-center">
      <h1 class="entidades"><strong>Dados do Pedido</strong></h1>
    </div>

    <div class="card">
      <div class="col-12 text-center">
        <br>
        <h2 class="col">
          ID Pedido:
          <span style="color: rgb(37, 37, 189);">{{pedido?.id}}</span>
        </h2>
        <hr>
      </div>
      <h3 style="margin-left: 12px;"><strong>Produtos:</strong></h3>


      <div class="col-12">
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Titulo</th>
              <th scope="col">Tipo</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Id Produto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of pedido?.pedidoProdutos">
              <td><img class="produtoImg" src="{{producto.produto?.img}}" />
              </td>
              <td>{{producto.produto?.titulo}}</td>
              <td>{{producto.produto?.tipo}}</td>
              <td>{{producto.quantidade}}</td>
              <td><strong>{{producto.produto?.preco}}</strong></td>
              <td>{{producto.produto?.id}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr>
      <div class="col-12">

        <br>
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Frete: <strong class="azulfraco">R$ {{pedido?.frete}}</strong></th>
              <th scope="col">Desconto: <strong class="azulfraco">R$ {{pedido?.desconto}}</strong></th>
              <th scope="col">Total: <strong class="azulforte">R$ {{pedido?.precoFinal}}</strong></th>
            </tr>
          </thead>

        </table>
        <br>

      </div>



    </div>

    <br>
    <hr>
    <br><br>

    <div class="col-12 text-center">
      <h1 class="entidades"><strong>Produto Trocado</strong></h1>
    </div>

    <div class="card">

      <div class="col-12 mt-2">
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Titulo</th>
              <th scope="col">Tipo</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Id Produto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img class="produtoImg" src="{{produtoTrocado?.img}}" />
              </td>
              <td>{{produtoTrocado?.titulo}}</td>
              <td>{{produtoTrocado?.tipo}}</td>
              <td>{{troca?.quantidade}}</td>
              <td><strong>{{produtoTrocado?.preco}}</strong></td>
              <td>{{produtoTrocado?.id}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr>


    </div>

    <br>
    <hr>
    <br><br><br>

    <div class="row justify-content-md-center mb-5" [hidden]="troca?.status != 'Troca aceita'">
      <h2 class="label text-center">O produto trocado deve ser re-estocado?</h2>
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mt-4" (click)="adicionarEstoque()">Sim</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-danger mt-4" (click)="naoAdicionarEstoque()">Não</button>
      </div>
    </div>

    <div class="row justify-content-md-center mb-5" [hidden]="troca?.status != 'Em troca'">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mt-4" (click)="aceitarTroca()">Aceitar Troca</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-danger mt-4" (click)="recusarTroca()">Recusar Troca</button>
      </div>
    </div>

  </div>

