<div class="container card mt-5 mb-5">
  <div class="row">
    <div class="col-md-2">
      <div class="d-flex justify-content-center">
        <div class="padding">
          <div class="mb-5">
            <div class="col-md-12"><label class="links">Perfil</label></div>
          </div>
          <div class="mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaEnderecos()">Endereços</label></div>
          </div>
          <div class="mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaMetPagamentos()">Metodos de Pagamento</label></div>
          </div>
          <div class="mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaPedidos()" id="verPedidos">Meus Pedidos</label></div>
          </div>
          <div class="mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaNotificacoes()" id="verPedidos">Notificações</label></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-center text-center"><img class="rounded-circle mt-4"
          width="250px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
          class="nome-usuario pb-2">Nome Usuario</span><span class="text-black-50 email-usuario">Teste@gmail.com</span>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-3 py-5">
        <div class="d-flex mb-3">
          <h1 class="text-right">Dados de Usuário</h1>
        </div>
        <div class="mt-2 mb-2">
          <div class="col-md-12"><label class="labels">Nome Completo</label><input type="text" class="form-control"
              disabled></div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 mb-2"><label class="labels">Email</label><input type="text" class="form-control"
              disabled></div>
          <div class="col-md-3 mb-2"><label class="labels">Data Nascimento</label><input type="text"
              class="form-control" disabled></div>
          <div class="col-md-3 mb-2"><label class="labels">DDD</label><input type="text" class="form-control" disabled>
          </div>
          <div class="col-md-3 mb-2"><label class="labels">Telefone</label><input type="text" class="form-control"
              disabled></div>
          <div class="col-md-3 mb-2"><label class="labels">Tipo Telefone</label><input type="text" class="form-control"
              disabled></div>
          <div class="col-md-6 mb-2"><label class="labels">CPF</label><input type="text" class="form-control" disabled>
          </div>
          <div class="col-md-6 mb-2"><label class="labels">Senha</label><input type="text" class="form-control"
              disabled></div>
        </div>
          <div class="mt-4 text-center"><button class="btn btn-primary profile-button" type="button" (click)="irParaAlterarDados()">Alterar Dados</button>
        </div>
      </div>
    </div>
  </div>
</div>


