<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>
    </div>

    <br>

    <div class="col-md-12">
        <div style="display: flex;">
        <h1><strong>ID Produto: </strong><span style="color: rgb(37, 37, 189);">001</span></h1>
        <button style="margin-left: 74rem;"class="btn btn-primary" (click)="editarProduto()">Editar Produto</button>
        </div>
    </div>

    <br>

    <div class="row">

        <div style="background-color: rgb(199, 199, 199);display: flex;border-top: 3px solid rgb(37, 37, 189);" class="imagem">
            <hr class="linha-superior">
            <div>
                <img
                    src="https://upload.wikimedia.org/wikipedia/pt/3/3b/A_Viagem_de_Chihiro.JPG" />
            </div>
            <div style="margin-left: 16px">
                <table>
                    <thead>
                        <tr>
                            <h2 style="margin-left: 26.4rem;margin-top: 2rem;font-weight:600;color:rgb(37, 37, 189)">Sinopse</h2>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi temporibus molestias
                                odit ipsam laboriosam, adipisci doloribus distinctio quo consequuntur id facilis nobis officiis
                                aspernatur repellendus.<br>
                                Quisquam animi corrupti reiciendis assumenda!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit ipsum ducimus
                                labore vero inventore illo reiciendis aperiam repellendus dicta, necessitatibus eum ea consequatur harum.
                                Voluptas perferendis deserunt iusto delectus!
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>


        <table class="table">
            <thead class="cabeca">
                <tr>
                    <th>Titulo</th>
                    <th>Categoria</th>
                    <th>Ano de Lançamento</th>
                    <th>Direção</th>
                    <th>Tipo</th>
                    <th>Produtora</th>
                    <th>Duracao</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody class="corpo">
                <tr>
                    <td>A viagem de Chihiro</td>
                    <td>ANIME SHOUNEN</td>
                    <td>2001</td>
                    <td>Martin Scorsese</td>
                    <td>Blu-ray</td>
                    <td>Universal</td>
                    <td>2:30</td>
                    <td>R$ 39,90</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>
