<div class="container-fluid my-4 mx-auto" *ngIf="produto">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>
    </div>

    <br>

    <div class="col-md-12">
        <div style="display: flex;">
        <h1><strong>ID Produto: </strong><span style="color: rgb(37, 37, 189);">{{produto.id}}</span></h1>
        <button style="margin-left: 74rem;"class="btn btn-primary" (click)="editarProduto(produto.id)">Editar Produto</button>
        </div>
    </div>

    <br>

    <div class="row">

        <div style="background-color: rgb(199, 199, 199);display: flex;border-top: 3px solid rgb(37, 37, 189);" class="imagem">
            <hr class="linha-superior">
            <div>
                <img
                    src="{{produto.img}}" />
            </div>
            <div style="margin-left: 16px">
                <table>
                    <thead>
                        <tr>
                            <h2 style="margin-left: 26.4rem;margin-top: 2rem;font-weight:600;color:rgb(37, 37, 189)">Sinopse</h2>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{produto.sinopse}}
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>


        <table class="table">
            <thead class="cabeca">
                <tr>
                    <th>Titulo</th>
                    <th>Categoria</th>
                    <th>Ano de Lançamento</th>
                    <th>Direção</th>
                    <th>Tipo</th>
                    <th>Produtora</th>
                    <th>Duracao</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                </tr>
            </thead>
            <tbody class="corpo">
                <tr>
                    <td>{{produto.titulo}}</td>
                    <td>{{produto.categoria}}</td>
                    <td>{{produto.ano | date: 'yyyy'}}</td>
                    <td>{{produto.direcao}}</td>
                    <td>{{produto.tipo}}</td>
                    <td>{{produto.produtora}}</td>
                    <td>{{produto.duracao}}</td>
                    <td>R$ {{produto.preco}}</td>
                    <td>{{produto.estoque}}</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>
