<section class="footer">
    <div class="social">
        <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1654787885&extra_1=s%7Cc%7C318671571097%7Ce%7Cfacebook%27%7C&placement=&creative=318671571097&keyword=facebook%27&partner_id=googlesem&extra_2=campaignid%3D1654787885%26adgroupid%3D62478117254%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-362360550869%26loc_physical_ms%3D9100130%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiA3-yQBhD3ARIsAHuHT66Ni0VkNeJ1gnHFxtNCaF-HuIprcHslmsDdX80Up2flQ6rI-WzNTWwaApmEEALw_wcB"
        target="_blank">
            <img  src=".\assets\icons8-facebook-50.png"/>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img  src=".\assets\icons8-instagram-50.png"/>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <img  src=".\assets\icons8-reproduzir-youtube-50.png"/>
        </a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" target="_blank">
            <img  src=".\assets\icons8-twitter-50.png"/>
        </a>
    </div>

    <ul class="lista">
        <li>
            <a class="espacologo">
                <img src="https://yt3.ggpht.com/ytc/AKedOLQgaH2MFA4htJp7fQ5eS94Y5do6vHuszose4JTJsA=s900-c-k-c0x00ffffff-no-rj"/>
                BlurayDreams
            </a>
        </li>
        <li>
            <a class="espaco">Services</a>
        </li>
        <li>
            <a class="espaco">Sobre</a>
        </li>
        <li>
            <a class="espaco">Termos</a>
        </li>
        <li>
            <a class="espaco">Politicas de Privacidade</a>
        </li>
    </ul>
    <p class="copyright">
        <strong>Copyright © 2022 Bluray Dreams Inc. Todos os direitos reservados.</strong>
    </p>
</section>
