
<div class="container">
  <mat-card class="mat-elevation-z4">

    <mat-card-title fxLayoutAlign="center">Cadastro de Cartão de Crédito</mat-card-title>

    <form class="m-t-25" fxLayout="column">
      <mat-form-field class="big-input">
        <input matInput placeholder="Número do Cartão" name="cartnum">
      </mat-form-field>

      <div>
        <mat-form-field class="medium-input m-r-2p">
          <input matInput placeholder="Bandeira do Cartão" name="cartband">
        </mat-form-field>
        <mat-form-field class="medium-input">
          <input matInput placeholder="CVV" name="cartcvv">
        </mat-form-field>
      </div>

      <mat-form-field class="big-input">
        <input matInput placeholder="Nome do Titular" name="cpf">
      </mat-form-field>

      <div class="m-t-25" fxLayoutAlign="center">
        <button mat-raised-button type="button" (click)="VoltarTelaInicial()">Finalizar</button>
      </div>

    </form>
  </mat-card>

  <div class="m-t-35">
    <button mat-raised-button type="button" (click)="backPage()">Retornar</button>
  </div>
</div>

