<div class="container">
  <div class="card">
    <div class="col-12 text-center">
      <label class="label">Cadastro de Cartão</label>
    </div>
    <form class="row g-3" [formGroup]="formCartao">
      <div class="col-md-6">
        <label class="form-label">Número do Cartão</label>
        <input type="email" class="form-control" id="numeroCartao" [ngClass]="{ 'is-invalid': f.numeroCartao.errors && f.numeroCartao.touched }" formControlName="numeroCartao" placeholder="Digite seu Número do Cartão">
        <div *ngIf="f.numeroCartao.errors?.required" class="invalid-feedback">
          Número do Cartão é obrigatorio.
        </div>
        <div *ngIf="f.numeroCartao.errors?.minlength" class="invalid-feedback">
          Número do Cartão deve ter no mínimo 5 caracteres.
        </div>
        <div *ngIf="f.numeroCartao.errors?.maxlength" class="invalid-feedback">
          Número do Cartão deve ter no mínimo 50 caracteres.
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">Nome do Titular</label>
        <input type="text" class="form-control" id="NomeTitular" [ngClass]="{'is-invalid': f.NomeTitular.errors && f.NomeTitular.touched}" formControlName="NomeTitular" placeholder="Digite o Nome do Titular">
        <div *ngIf="f.NomeTitular.errors?.required" class="invalid-feedback">
          Nome do Titular é obrigatorio.
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Data de Nascimento</label>
        <input type="text" class="form-control" id="nascimento" [ngClass]="{'is-invalid': f.DataNascimento.errors && f.DataNascimento.touched}" formControlName="DataNascimento" placeholder="Digite sua Data de Nascimento">
        <div class="invalid-feedback">
          Data de Nascimento é obrigatorio
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">DDD</label>
        <input type="text" class="form-control" id="ddd" [ngClass]="{'is-invalid': f.ddd.errors && f.ddd.touched}" formControlName="ddd" placeholder="Digite seu DDD">
        <div class="invalid-feedback">
          DDD é obrigatorio
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mt-3" [disabled]="!formCartao.valid" (click)="VoltarTelaInicial()">Cadastrar</button>
      </div>
    </form>
  </div>
  <div class="col-12 text-center mt-5">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
