<div class="container">
  <div class="card">
    <form class="row g-3" [formGroup]="formEndereco">
      <div class="col-12 text-center">
        <label class="label">Escolher Endereço de Cobrança</label>
      </div>
      <div class="col-12">
        <div class="row">
          <label class="form-label">Usar Um Endereço Cadastrado?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1" checked (change)="radioChange($event)">
          <label class="form-check-label" for="exampleRadios1">
            Sim
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2" (change)="radioChange($event)">
          <label class="form-check-label" for="exampleRadios2">
            Não
          </label>
        </div>
        <select class="form-select mt-2" (change)="selectChange($event)" id="selectEnd" [disabled]="radioUsarEndereco==false">
          <option selected value="0">-- Escolha um Endereço --</option>
          <option *ngFor="let endereco of enderecosCliente;" [value]="endereco.id">
            {{endereco.cep}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">CEP</label>
        <input type="email" class="form-control" id="cep" [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched && radioUsarEndereco==false}"
          formControlName="cep" placeholder="Digite seu CEP" [(ngModel)]="enderecoCobrancas.cep"
          (keypress)="keyPressNumbers($event)" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.cep.errors?.required" class="invalid-feedback">
          CEP é obrigatorio.
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">Tipo de Residência</label>
        <input type="text" class="form-control" id="tipoResidencia"
          [ngClass]="{'is-invalid': f.tipoResidencia.errors && f.tipoResidencia.touched && radioUsarEndereco==false}"
          formControlName="tipoResidencia" placeholder="Digite seu Tipo de Residência"
          [(ngModel)]="enderecoCobrancas.tipoResidencia" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.tipoResidencia.errors?.required" class="invalid-feedback">
          Tipo de Residência é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="logradouro"
          [ngClass]="{'is-invalid': f.logradouro.errors && f.logradouro.touched && radioUsarEndereco==false}" formControlName="logradouro"
          placeholder="Digite seu Logradouro" [(ngModel)]="enderecoCobrancas.logradouro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Logradouro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Tipo de Logradouro</label>
        <input type="text" class="form-control" id="tipoLogradouro"
          [ngClass]="{'is-invalid': f.tipoLogradouro.errors && f.tipoLogradouro.touched && radioUsarEndereco==false}"
          formControlName="tipoLogradouro" placeholder="Digite seu Tipo de Logradouro"
          [(ngModel)]="enderecoCobrancas.tipoLogradouro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Tipo de Logradouro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro"
          [ngClass]="{'is-invalid': f.bairro.errors && f.bairro.touched && radioUsarEndereco==false}" formControlName="bairro"
          placeholder="Digite seu Bairro" [(ngModel)]="enderecoCobrancas.bairro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Bairro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade"
          [ngClass]="{'is-invalid': f.cidade.errors && f.cidade.touched && radioUsarEndereco==false}" formControlName="cidade"
          placeholder="Digite sua Cidade" [(ngModel)]="enderecoCobrancas.cidade" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Cidade é obrigatorio.
        </div>
      </div>

      <div class="col-3">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control " id="estado"
          [ngClass]="{'is-invalid': f.estado.errors && f.estado.touched && radioUsarEndereco==false}" formControlName="estado"
          placeholder="Digite seu Estado" [(ngModel)]="enderecoCobrancas.estado" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Estado é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">País</label>
        <input type="text" class="form-control" id="pais" [ngClass]="{'is-invalid': f.pais.errors && f.pais.touched && radioUsarEndereco==false}"
          formControlName="pais" placeholder="Digite seu País" [(ngModel)]="enderecoCobrancas.pais" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.pais.errors?.required" class="invalid-feedback">
          País é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Número</label>
        <input type="text" class="form-control" id="numero"
          [ngClass]="{'is-invalid': f.numero.errors && f.numero.touched && radioUsarEndereco==false}" formControlName="numero"
          placeholder="Digite seu Número" [(ngModel)]="enderecoCobrancas.numero" (keypress)="keyPressNumbers($event)" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.numero.errors?.required" class="invalid-feedback">
          Número é obrigatorio.
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <label class="form-label">Adicionar endereço a sua conta?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio2" id="radio21" value="1" checked [disabled]="radioUsarEndereco==true" (change)="radioAddEnderecoChange($event)">
          <label class="form-check-label" for="radio21">
            Sim
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio2" id="radio22" value="2" [disabled]="radioUsarEndereco==true" (change)="radioAddEnderecoChange($event)">
          <label class="form-check-label" for="radio22">
            Não
          </label>
        </div>
      </div>

      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mt-3" id="finalizarEnd"
          (click)="cadastrarEndereco()" [disabled]="(radioUsarEndereco && enderecoId == 0) || (radioUsarEndereco == false && formEndereco.invalid)">Proximo</button>
      </div>
    </form>
  </div>
  <div class="col-12 text-center mt-5">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
