<div class="container mt-5 mb-5">
  <div class="card row">
    <div class="col-md-12">
      <div class="p-3 py-5">
        <div class="d-flex mb-3">
          <h1 class="text-right">Pedido Núm: 006</h1>
        </div>
        <table class="table table-striped">
          <thead class="table-active">
            <tr class="text-center">
              <th>Imagem</th>
              <th>Titulo</th>
              <th>Preço</th>
              <th>Tipo</th>
              <th>Solicitar Troca</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle">
              <td><img class="imagem" src="https://br.web.img3.acsta.net/medias/nmedia/18/90/93/20/20120876.jpg"></td>
              <td>O Poderoso Chefão</td>
              <td>29.99 R$</td>
              <td>Blu-ray</td>
              <td><button type="button" class="btn btn-info">Trocar</button></td>
            </tr>
            <tr class="text-center align-middle">
              <td><img class="imagem" src="https://br.web.img3.acsta.net/medias/nmedia/18/90/95/96/20122166.jpg"></td>
              <td>Clube da Luta</td>
              <td>19.99 R$</td>
              <td>Normal</td>
              <td><button type="button" class="btn btn-info">Trocar</button></td>
            </tr>
            <tr class="text-center align-middle">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button" class="btn btn-primary">Trocar Todos</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
  <button type="button" class="custom-btn-back" (click)="irParaPedidos()">Retornar</button>
</div>
