<div class="container">
  <div class="card">
    <div class="col-12 text-center">
      <label class="label">Cupom de Troca</label>
    </div>
    <form class="row g-3">
      <div class="col-12 text-center">
        <label class="texto-troca">Voce possui 1 cupom de troca!</label>
      </div>
      <div class="label-carrinho">Seu carrinho</div>
      <table class="table table-striped">
        <thead class="">
          <tr class="text-center">
            <th>Imagem</th>
            <th>Titulo</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Qtd.</th>
            <th>Abater Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of carrinho.carrinhoProduto; let index=index" class="text-center align-middle">
            <td><img class="imagem" src="{{producto.produto.img}}"></td>
            <td>{{producto.produto.titulo}}</td>
            <td>{{producto.produto.preco}}</td>
            <td>{{producto.produto.tipo}}</td>
            <td>{{producto.quantidade}}</td>
            <td><select (change)="selectChange($event, index)">
                <option value="0" selected>0</option>
                <option *ngFor="let i of [].constructor(producto.quantidade); let index=index" [value]="index+1">
                  {{index+1}}
                </option>
              </select></td>
          </tr>
        </tbody>
      </table>
      <div [hidden]="cuponsTroca >= qtdProdutosTrocas" class="text-center red">Voce possui {{cuponsTroca}} cupom de troca e escolheu {{qtdProdutosTrocas}} produtos para trocar!</div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-success" [disabled]="cuponsTroca < qtdProdutosTrocas" (click)="irParaProximaPagina()">Prosseguir</button>
      </div>
    </form>
  </div>
  <div class="col-12 text-center mt-4">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
