<div class="container">
    <div class="card">
        <div class="col-12 text-center">
            <br>
            <h1 style="color: rgb(62, 65, 75);font-weight: 600" class="col">
                Área do Funcionario!
            </h1>
            <br>
        </div>
    </div>

    <div class="card2">
        <div class="col-12">

            <h2 style="margin-left: 12px;margin-top: 12px;">
                Funcionario: <span
                    style="color: rgb(27, 54, 207);font-size: 16px;font-weight: normal; margin-left: 6px;">Francisco S.
                    Rangel</span>
            </h2>
            <div class="opcoes">
                <hr>
                <div class="emLinha">
                    <h3 style="margin-left: 12px;"><strong>Consultar Clientes:</strong></h3>
                    <button style="margin-left: 24px;margin-bottom: 4px;" class="btn btn-primary" (click)="irParaConsultarCliente()">Consultar</button>


                    <h3 style="margin-left: 36px;"><strong>Consultar Produtos:</strong></h3>
                    <button style="margin-left: 24px;margin-bottom: 4px;" class="btn btn-primary" (click)="irParaConsultarProduto()">Consultar</button>

                    <h3 style="margin-left: 36px;"><strong>Consultar Trocas:</strong></h3>
                    <button style="margin-left: 24px;margin-bottom: 4px;" class="btn btn-primary">Consultar</button>
                </div>

                <br>
                <hr>
            </div>
        </div>

        <br>

    </div>
</div>