<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-12'">
        <div class="p-3 py-5">
          <div class="mb-4 text-center">
            <h1>Adicionar Estoque</h1>
          </div>
          <div class="col-12 mb-2">
          <div class="row mb-2">
            <div class="col-md-6 mb-2"><label class="labels">ID Produto</label><input type="text" class="form-control" disabled value="001"></div>
            <div class="col-md-6 mb-2"><label class="labels">Titulo Produto</label><input type="text" class="form-control" disabled value="A Viagem de Chihiro"></div>
          </div>
          <div class="mt-2 mb-2 row">
            <div class="col-md-6"><label class="labels">Adicionar Estoque (Quantidade)</label><input type="text" class="form-control"
                placeholder="Insira a Quantidade de Estoque a ser Adicionada"></div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-5">
  <button type="button" class="custom-btn-back" (click)="backPage()">Retornar</button>
</div>
