<div class="container card mt-5 mb-5">
  <div class="row">
    <div class="col-md-2">
      <div class="d-flex justify-content-center">
        <div class="padding">
          <div class="row mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaPerfil()">Perfil</label></div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaEnderecos()">Endereços</label></div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12"><label class="links">Metodos de Pagamento</label></div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaPedidos()">Meus Pedidos</label></div>
          </div>
          <div class="mb-5">
            <div class="col-md-12"><label class="links" (click)="irParaNotificacoes()" id="verPedidos">Notificações</label></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-center text-center"><img class="rounded-circle mt-4" width="250px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
          class="nome-usuario pb-2">Nome Usuario</span><span
          class="text-black-50 email-usuario mb-3">Teste@gmail.com</span>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-3 py-5">
        <div class="d-flex mb-3">
          <h1 class="text-right">Cartões de Crédito</h1>
        </div>
        <table class="table table-striped">
          <thead class="">
            <tr class="text-center">
              <th>Cartão Padrão</th>
              <th>Núm. Cartão</th>
              <th>Nome Titular</th>
              <th>Bandeira</th>
              <th>CVV</th>
              <th>Alterar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle">
              <td><input type="radio" id="radio" name="radio" checked></td>
              <td>**** 9234</td>
              <td>Matheus Ramires</td>
              <td>VISA</td>
              <td>453</td>
              <td><button type="button" class="btn btn-primary" (click)="irParaAlteraCartao()">Alterar</button></td>
              <td><button type="button" class="btn btn-danger">Excluir</button></td>
            </tr>
            <tr class="text-center align-middle">
              <td><input type="radio" id="radio" name="radio"></td>
              <td>**** 2341</td>
              <td>Luis Ramires</td>
              <td>Mastercard</td>
              <td>800</td>
              <td><button type="button" class="btn btn-primary" (click)="irParaAlteraCartao()">Alterar</button></td>
              <td><button type="button" class="btn btn-danger">Excluir</button></td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary mt-2" (click)="irParaCadastrarCartao()">Adicionar Novo Cartão</button>
        <div class="text-center mt-4">
          <button type="button" class="btn btn-success">Confirmar Alterações</button>
        </div>
      </div>
    </div>
  </div>
</div>
