<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>
    </div>
    <hr>
    <div class="text-center">
      <h1><b>Status do pedido: <span class="color">{{pedido.status}}</span></b></h1>
    </div>
    <div class="row justify-content-md-center mb-5" [hidden]="pedido.status!='Em processamento'">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mt-4" (click)="aprovarCompra(pedido.id)">Confirmar</button>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-danger mt-4" (click)="recusarCompra(pedido.id)">Recusar</button>
      </div>
    </div>
    <div class="row justify-content-md-center mb-5" [hidden]="pedido.status!='Aprovado'">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mt-4" (click)="enviarParaEntrega(pedido.id)">Enviar para Entrega</button>
      </div>
    </div>
    <div class="row justify-content-md-center mb-5" [hidden]="pedido.status!='Em transporte'">
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary mt-4" (click)="pedidoEntregue(pedido.id)">Pedido entregue</button>
      </div>
    </div>
    <div class="card">
        <br>
        <div class="col-12 text-center">
            <h1>Pedido Id:
                <strong class="color">{{idPedido}}</strong>
            </h1>
            <hr>
        </div>
        <h3 style="margin-left: 12px;"><strong>Produto(s) dentro do Pedido:</strong></h3>


        <div class="col-12">
            <table class="table table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Id Produto</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of pedido.pedidoProdutos">
                        <td><img class="produtoImg"
                                src="{{producto.produto!.img}}" />
                        </td>
                        <td>{{producto.produto!.id}}</td>
                        <td>{{producto.produto!.titulo}}</td>
                        <td>{{producto.produto!.tipo}}</td>
                        <td>{{producto.quantidade}}</td>
                        <td><strong>{{producto.produto!.preco}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="col-12">

            <br>
            <table class="table table-hover">
                <thead class="table-secondary titulo">
                    <tr>
                        <th scope="col">Frete: <strong class="color">R$ {{pedido.frete}}</strong></th>
                        <th scope="col">Desconto: <strong class="color">R$ {{pedido.desconto}}</strong></th>
                        <th scope="col">Preço Final: <strong class="azulforte">R$ {{pedido.precoFinal}}</strong></th>
                    </tr>
                </thead>

            </table>
            <br>


        </div>
    </div>
    <br><hr><br>

     <div class="card2">
        <br>
        <div class="col-12 text-center">
            <h1>Pedido: Cliente</h1>
            <hr style="border: 2px solid black;">
        </div>
        <h3 style="margin-left: 12px;"><strong>Os dados abaixos correspondem com os dados rescetivos que o cliente tinha quando fez o pedido.</strong></h3>
        <hr style="border: 2px solid black;">
        <div class="col-12">
            <h1 class="espaco">Cliente Id: <span class="color">{{cliente!.id}}</span></h1>
            <table class="table table-hover">
                <thead class="table-danger">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">CPF</th>
                    <th scope="col">DD</th>
                    <th scope="col">Numero</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.dataNascimento}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>{{cliente.ddd}}</td>
                    <td>{{cliente.telefone}}</td>
                  </tr>
                </tbody>
              </table>

        </div>

        <div class="col-12">
            <h1 class="espaco">Endereço Cobrança: <span class="color">{{enderecoCobranca.id}}</span></h1>
            <table class="table table-hover">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">CEP</th>
                        <th scope="col">Tipo Residencia</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Tipo Logradouro</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Pais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{enderecoCobranca.cep}}</td>
                        <td>{{enderecoCobranca.tipoResidencia}}</td>
                        <td>{{enderecoCobranca.logradouro}}</td>
                        <td>{{enderecoCobranca.tipoLogradouro}}</td>
                        <td>{{enderecoCobranca.numero}}</td>
                        <td>{{enderecoCobranca.bairro}}</td>
                        <td>{{enderecoCobranca.cidade}}</td>
                        <td>{{enderecoCobranca.estado}}</td>
                        <td>{{enderecoCobranca.pais}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-12">
            <h1 class="espaco">Endereço Entrega: <span class="color">{{enderecoEntrega.id}}</span></h1>
            <table class="table table-hover">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">CEP</th>
                        <th scope="col">Tipo Residencia</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Tipo Logradouro</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Apelido</th>
                        <th scope="col">Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{enderecoEntrega.cep}}</td>
                        <td>{{enderecoEntrega.tipoResidencia}}</td>
                        <td>{{enderecoEntrega.logradouro}}</td>
                        <td>{{enderecoEntrega.tipoLogradouro}}</td>
                        <td>{{enderecoEntrega.numero}}</td>
                        <td>{{enderecoEntrega.bairro}}</td>
                        <td>{{enderecoEntrega.cidade}}</td>
                        <td>{{enderecoEntrega.estado}}</td>
                        <td>{{enderecoEntrega.pais}}</td>
                        <td>{{enderecoEntrega.apelido}}</td>
                        <td>{{enderecoEntrega.observacao}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="col-12">
            <h1 class="espaco">Cartao de Credito: <span class="color">{{cartaoCredito.id}}</span></h1>
            <table class="table table-hover">
                <thead class="table-danger">
                  <tr>
                    <th scope="col">Numero Cartão</th>
                    <th scope="col">Bandeira Cartão</th>
                    <th scope="col">CVV</th>
                    <th scope="col">Nome Titular</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{cartaoCredito.numeroCartao}}</td>
                    <td>{{cartaoCredito.bandeiraCartao}}</td>
                    <td>{{cartaoCredito.cvv}}</td>
                    <td>{{cartaoCredito.nomeTitular}}</td>
                  </tr>
                </tbody>
              </table>

        </div>



     <br><br>
     </div>
    <br><hr><br>
</div>

