.container {
    margin-top: 120px;
    margin-bottom: 120px;
    
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(245, 245, 245);
}
.carrinhoImg {
    height: 60px;
    width: 60px;
}
.produtoImg {
    height: 140px;
    width: 140px;
}
table {
    background-color: rgb(255, 255, 255);
}
comCupom {
  cursor: pointer;
  text-decoration: underline;
}
.comCupom:hover {
    color: blue;
}
.form-label {
    font-weight: 600;
}
.btn-calcular {
    margin-left: 4px;
    width: 124px;
    height: 46px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-calcular:hover {
    background-color: #1183e7;
}
.btn-cupom {
    margin-left: 4px;
    width: 124px;
    height: 46px;
    background-color: #d33dbf;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-cupom:hover {
    background-color: #a51f88;
}
.btn-credito {
    margin-left: 4px;
    width: 124px;
    height: 46px;
    background-color: #27cdba;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn-credito:hover {
    background-color: #179c93;
}
.azulfraco {
    color: #a51f88;
}
.azulforte {
    font-weight: 600;
    font-size: 16px;
    color: blue;
}
thead th {
    padding: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }