<div class="container">
    <div class="card">
        <div class="col-12 text-center">
            <h2 class="col-3">
                <img class="carrinhoImg" src=".\assets\icons8-carrinho-de-compras-com-dinheiro-80.png" />
                <strong>Carrinho de Compras</strong>
            </h2>
            <hr>
        </div>
        <h3 style="margin-left: 12px;"><strong>Produtos:</strong></h3>


            <div class="col-12">
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Imagem</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="produtoImg"
                                    src="https://www.cafecomfilme.com.br/media/k2/items/cache/8ffd18e59bf9d59135c7eafc3068ae79_L.jpg?t=20200206_184920" />
                            </td>
                            <td>Rambo - Programado para matar</td>
                            <td>Dvd</td>
                            <td> <input value="1" type="number" min="1" max="10" class="form-control" /></td>
                            <td><strong>R$ 19,90</strong></td>
                            <td><button class="btn btn-danger">Excluir</button></td>
                        </tr>

                        <tr>
                            <td><img class="produtoImg"
                                    src="https://br.web.img3.acsta.net/medias/nmedia/18/90/95/96/20122166.jpg" />
                            </td>
                            <td>Rambo - Programado para matar</td>
                            <td>Bluray</td>
                            <td><input value="1" type="number" min="1" max="10" class="form-control" /></td>
                            <td><strong>R$ 39,90</strong></td>
                            <td><button class="btn btn-danger">Excluir</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <hr>
            <div class="col-12">

                 <div style="display:flex;">
                <div class="col">
                    <label style="margin-left: 12px;" class="form-label">Calcular o Frete:
                        <input type="text" class="form-control" placeholder="Insira o CEP:"/></label>
                        <button type="button" class="btn-calcular">Calcular</button>
                </div>

                <div class="col">
                    <label class="form-label">Inserir o Cupom de Desconto:
                        <input type="text" class="form-control" placeholder="Insira o Cupom:"/></label>
                        <button type="button" class="btn-cupom">Calcular</button>
                </div>
                 </div>

                <br>
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                        <th scope="col">Preço Produto(s): <strong class="azulfraco">R$ 58,60</strong></th>
                        <th scope="col">Frete: <strong class="azulfraco">R$ 10,00</strong></th>
                        <th scope="col">Desconto: <strong class="azulfraco">R$ 5,00</strong></th>
                        <th scope="col">Preço Cheio: <strong class="azulfraco">R$ 68,60</strong></th>
                        <th scope="col">Preço Final: <strong class="azulforte">R$ 63,60</strong></th>
                        </tr>
                    </thead>

                </table>
                <br>

                <div class="col-12 text-center">
                <button class="btn btn-success">Finalizar Pedido</button>
                </div>

                <br>

            </div>

              <label style="margin-left: 12px;">Tem um cupom de troca? <span class="comCupom" (click)="irParaTrocas()"> Clique aqui</span></label>
             <br>

    </div>

</div>
