<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-12">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>

        <div class="col-12">
            <h1 class="titulo">Consultar Trocas</h1>
        </div>

        <hr>
    </div>

    <div class="col-12">
        <div class="row">
            <div style="margin-left: 0" class="col-12">
                <label class="custom-label">
                    <input class="custom-input" type="text" placeholder="Pesquise a Troca" />
                </label>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row">

                        <div class="col-12" *ngFor="let troca of trocas">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                                        <mat-panel-title>
                                            <div class="col-12">
                                                <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                                                    <div class="col">
                                                        <div class="row">

                                                            <div class="col">
                                                                <strong>Numero de Requisição: </strong>
                                                                <span class="dado-produto">
                                                                    {{troca.id}}
                                                                </span>
                                                            </div>

                                                            <div class="col">
                                                                <strong>Cliente id: </strong>
                                                                <span class="dado-produto">
                                                                  {{troca.clienteId}}
                                                                </span>
                                                            </div>

                                                            <div class="col">
                                                                <strong>Cliente Nome: </strong>
                                                                <span class="dado-produto">
                                                                    {{troca.cliente!.nome}}
                                                                </span>
                                                            </div>

                                                            <div class="col">
                                                                <strong>Pedido id: </strong>
                                                                <span class="dado-produto">
                                                                    {{troca.pedidoId}}
                                                                </span>
                                                            </div>

                                                            <div class="col">
                                                                <strong>Status: </strong>
                                                                <span class="dado-status">
                                                                    <strong>{{troca.status}}</strong>
                                                                </span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </mat-panel-title>
                                    </mat-expansion-panel-header>


                                    <div class="col-12 mt-2 mb-2 custom-table-form-box">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                            <table style="margin-top: 2%;" cellspacing="0" cellpadding="0"
                                                class="table custom-table mt-3">

                                                <thead>
                                                    <tr style="border-bottom: 1px solid #E6E6E6;">

                                                        <th scope="col">Dados da Troca</th>
                                                        <th scope="col">Excluir a Troca</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><button class="btn btn-primary" type="button" (click)="irParaInformacaoTroca(troca.id)">Visualizar</button></td>
                                                        <td><button class="btn btn-danger"
                                                                type="button">Excluir</button></td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>


                                </mat-expansion-panel>
                            </mat-accordion>

                            <br>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <br>
    <hr><br>
    <div class="row">
        <div class="col-12 mt-3">
            <nav>
                <ul class="pagination pagination-sm justify-content-center">

                    <li class="page-item">
                        <a class="page-link" tabindex="-1">
                            <img class="passador" src=".\assets\icons8-chevron-esquerda-50.png" alt="Anterior">
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let pag of paginacao;let i = index">
                        <a class="page-link">{{i+1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">
                            <img class="passador" src=".\assets\icons8-chevron-right-50.png" alt="Próximo">
                        </a>
                    </li>
                </ul>
                <ul class="pagination pagination-sm justify-content-center">
                    <li>
                        <span>1 de 12</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
