<div class="container">
  <div class="card">
    <div class="col-12 text-center">
      <label class="label">Cadastro de Endereço de Entrega</label>
    </div>
    <form class="row g-3" [formGroup]="formEndereco">
      <div class="col-12">
        <div class="row">
          <label class="form-label">Usar Um Endereço Cadastrado?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="1" checked (change)="radioChange($event)">
          <label class="form-check-label" for="radio1">
            Sim
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="2" (change)="radioChange($event)">
          <label class="form-check-label" for="radio2">
            Não
          </label>
        </div>
        <select class="form-select mt-2" (change)="selectChange($event)" [disabled]="radioUsarEndereco==false">
          <option selected value="0" [selected]="radioUsarEndereco==false">-- Escolha um Endereço --</option>
          <option *ngFor="let endereco of enderecosCliente;" [value]="endereco.id">
            {{endereco.cep}} - {{endereco.apelido}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="form-label">CEP</label>
        <input type="email" class="form-control" id="cep" [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched && radioUsarEndereco==false }"
          formControlName="cep" placeholder="Digite seu CEP" [(ngModel)]="enderecoEntregas.cep"
          (keypress)="keyPressNumbers($event)" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.cep.errors?.required" class="invalid-feedback">
          CEP é obrigatorio.
        </div>
      </div>
      <div class="col-md-3">
        <label class="form-label">Tipo de Residência</label>
        <input type="text" class="form-control" id="TipoResidencia"
          [ngClass]="{'is-invalid': f.TipoResidencia.errors && f.TipoResidencia.touched && radioUsarEndereco==false}"
          formControlName="TipoResidencia" placeholder="Digite seu Tipo de Residência"
          [(ngModel)]="enderecoEntregas.tipoResidencia" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.TipoResidencia.errors?.required" class="invalid-feedback">
          Tipo de Residência é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="Logradouro"
          [ngClass]="{'is-invalid': f.Logradouro.errors && f.Logradouro.touched && radioUsarEndereco==false}" formControlName="Logradouro"
          placeholder="Digite seu Logradouro" [(ngModel)]="enderecoEntregas.logradouro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Logradouro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Tipo de Logradouro</label>
        <input type="text" class="form-control" id="TipoLogradouro"
          [ngClass]="{'is-invalid': f.TipoLogradouro.errors && f.TipoLogradouro.touched && radioUsarEndereco==false}"
          formControlName="TipoLogradouro" placeholder="Digite seu Tipo de Logradouro"
          [(ngModel)]="enderecoEntregas.tipoLogradouro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Tipo de Logradouro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro"
          [ngClass]="{'is-invalid': f.Bairro.errors && f.Bairro.touched && radioUsarEndereco==false}" formControlName="Bairro"
          placeholder="Digite seu Bairro" [(ngModel)]="enderecoEntregas.bairro" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Bairro é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Cidade</label>
        <input type="text" class="form-control" id="Cidade"
          [ngClass]="{'is-invalid': f.Cidade.errors && f.Cidade.touched && radioUsarEndereco==false}" formControlName="Cidade"
          placeholder="Digite sua Cidade" [(ngModel)]="enderecoEntregas.cidade" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Cidade é obrigatorio.
        </div>
      </div>

      <div class="col-3">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control " id="Estado"
          [ngClass]="{'is-invalid': f.Estado.errors && f.Estado.touched && radioUsarEndereco==false}" formControlName="Estado"
          placeholder="Digite seu Estado" [(ngModel)]="enderecoEntregas.estado" [readonly]="radioUsarEndereco==true">
        <div class="invalid-feedback">
          Estado é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">País</label>
        <input type="text" class="form-control" id="Pais" [ngClass]="{'is-invalid': f.Pais.errors && f.Pais.touched && radioUsarEndereco==false}"
          formControlName="Pais" placeholder="Digite seu País" [(ngModel)]="enderecoEntregas.pais" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.Pais.errors?.required" class="invalid-feedback">
          País é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Número</label>
        <input type="text" class="form-control" id="Numero"
          [ngClass]="{'is-invalid': f.Numero.errors && f.Numero.touched && radioUsarEndereco==false}" formControlName="Numero"
          placeholder="Digite seu Número" [(ngModel)]="enderecoEntregas.numero" (keypress)="keyPressNumbers($event)" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.Numero.errors?.required" class="invalid-feedback">
          Número é obrigatorio.
        </div>
      </div>
      <div class="col-3">
        <label class="form-label">Apelido</label>
        <input type="text" class="form-control" id="Apelido"
          [ngClass]="{'is-invalid': f.Apelido.errors && f.Apelido.touched && radioUsarEndereco==false}" formControlName="Apelido"
          placeholder="Digite o Apelido do Endereço" [(ngModel)]="enderecoEntregas.apelido" [readonly]="radioUsarEndereco==true">
        <div *ngIf="f.Apelido.errors?.required" class="invalid-feedback">
          Apelido do Endereço é obrigatorio.
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Observação</label>
        <input type="text" class="form-control" id="observacao" [ngClass]="{'is-invalid': f.observacao.errors && f.observacao.touched && radioUsarEndereco==false}"
          formControlName="observacao" placeholder="Escreva uma Observação (Opcional...)"
          [(ngModel)]="enderecoEntregas.observacao" [readonly]="radioUsarEndereco==true">
      </div>
      <div class="col-12">
        <div class="row">
          <label class="form-label">Adicionar endereço a sua conta?</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio2" id="radio21" value="1" checked [disabled]="radioUsarEndereco==true" (change)="radioAddEnderecoChange($event)">
          <label class="form-check-label" for="radio21">
            Sim
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio2" id="radio22" value="2" [disabled]="radioUsarEndereco==true" (change)="radioAddEnderecoChange($event)">
          <label class="form-check-label" for="radio22">
            Não
          </label>
        </div>
      </div>
      <div class="col-12 text-center mt-5" [hidden]="(radioUsarEndereco && enderecoId == 0) || (radioUsarEndereco == false && formEndereco.invalid)">
        <div class="label">O frete com esse endereço sera de R$ <span *ngIf="radioUsarEndereco">{{frete}}</span> <span *ngIf="radioUsarEndereco == false">{{frete2}}</span>.</div>
      </div>
      <div class="col-12 text-center" [hidden]="(radioUsarEndereco && enderecoId == 0) || (radioUsarEndereco == false && formEndereco.invalid)">
        <div class="label">O preço final sera de R$ <span *ngIf="radioUsarEndereco">{{frete + carrinho.precoFinal}}</span> <span *ngIf="radioUsarEndereco == false">{{frete2 + carrinho.precoFinal}}</span>.</div>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary mt-3" id="finalizarEnd" [disabled]="(radioUsarEndereco && enderecoId == 0) || (radioUsarEndereco == false && formEndereco.invalid)"
          (click)="cadastrarEndereco()">Finalizar</button>
      </div>
    </form>
  </div>
  <div class="col-12 text-center mt-5">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
