<!-- <div class="col-5">
    <button class="custom-btn-back" type="button" (click)="backPage()">Voltar</button>
</div> -->

<div class="container">
  <mat-card>
    <mat-card-title>Cadastro de Conta</mat-card-title>
    teste
  </mat-card>
  <div>
    <button class="custom-btn-back" type="button" (click)="backPage()">Voltar</button>
</div>
</div>


<!--<form>
  <mat-form-field>
    <input matInput placeholder="Nome" name="nome">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Sobrenome" name="sobrenome">
  </mat-form-field>
</form> -->
