
<div class="container">
  <mat-card class="mat-elevation-z4">

    <mat-card-title fxLayoutAlign="center">Cadastro de Conta</mat-card-title>

    <form class="m-t-25" fxLayout="column">
      <mat-form-field class="big-input">
        <input matInput placeholder="Nome" name="nome">
      </mat-form-field>

      <div>
        <mat-form-field class="medium-input m-r-2p">
          <input matInput placeholder="Data de Nascimento" name="sobrenome">
        </mat-form-field>
        <mat-form-field class="medium-input">
          <input matInput placeholder="Telefone" name="telefone">
        </mat-form-field>
      </div>

      <mat-form-field class="big-input">
        <input matInput placeholder="CPF" name="cpf">
      </mat-form-field>

      <mat-form-field class="big-input">
        <input matInput placeholder="Email" name="email">
      </mat-form-field>

      <mat-form-field class="big-input">
        <input matInput placeholder="Endereço Residencial" name="email">
      </mat-form-field>

      <div>
        <mat-form-field class="medium-input m-r-2p">
          <input matInput placeholder="Senha" name="senha">
        </mat-form-field>
        <mat-form-field class="medium-input">
          <input matInput placeholder="Confirmar Senha" name="confsenha">
        </mat-form-field>
      </div>

      <div class="m-t-25" fxLayoutAlign="center">
        <button mat-raised-button type="button" (click)="irParaEndereco()">Prosseguir</button>
      </div>

    </form>
  </mat-card>

  <div class="m-t-25">
    <div>Ja possui conta? <a [routerLink]="''">Clique Aqui!</a></div>
  </div>

  <div class="m-t-65">
    <button mat-raised-button type="button" (click)="backPage()">Retornar</button>
  </div>
</div>

