<div class="container card mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="p-3 py-5">
        <div class="d-flex mb-3">
          <h1 class="text-right">Pedidos</h1>
        </div>
        <table class="table table-striped">
          <thead class="">
            <tr class="text-center">
              <th>Núm. Pedido</th>
              <th>Valor Total</th>
              <th>Status</th>
              <th>Solicitar Troca?</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle">
              <td>1</td>
              <td>99.99 R$</td>
              <td>Em Transporte</td>
              <td><button type="button" class="btn btn-success" disabled>Trocar</button></td>
            </tr>
            <tr class="text-center align-middle">
              <td>6</td>
              <td>123.99 R$</td>
              <td>Finalizado</td>
              <td><button type="button" class="btn btn-success">Trocar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
