<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(218, 218, 218);">
  <div class="container-fluid">
     <a class="navbar-brand mb-0 h1" [routerLink]="''">
       <img class="d-inline-block align-top" src=".\assets\appleLogo.jpg" width="30" height="30"/>
        BlurayDreams
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="'carrinho-compras'"><img class="carrinhoImg" src=".\assets\icons8-carrinho-de-compras-com-dinheiro-80.png"/>Carrinho</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              <img class="pessoaImg" src=".\assets\icons8-pessoa-do-sexo-masculino-64.png"/>Minha Conta
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="'tela-login'">Login</a></li>
              <li><a class="dropdown-item"  [routerLink]="'cadastrar-cliente'">Cadastro</a></li>
              <li><a class="dropdown-item" id="botPerfil"  [routerLink]="'perfil-usuario-main'">Perfil</a></li>
              <li><a class="dropdown-item" id="botFuncionario"  [routerLink]="'tela-funcionario'">Área do Funcionario</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input id="pesquisar" class="form-control me-2"  type="search" [formControl]="pesquisaTitulo" placeholder="Busque aqui pelo Filme, Diretor ou Ator" aria-label="Search">
          <button class="btn-busca" type="submit" (click)="Pesquisar()"><img class="pesquisarImg" src=".\assets\icons8-pesquisar-50.png"/></button>
        </form>
      </div>
  </div>
</nav>

