<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-12">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>

        <div class="col-12">
            <h1 class="titulo">Consultar Clientes</h1>
        </div>

        <hr>
    </div>

    <div class="col-12">
        <div class="row">
            <div style="margin-left: 0" class="col-12">
                <label class="custom-label">
                    <input class="custom-input" type="text" placeholder="Pesquise o Cliente" />
                </label>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                                        <mat-panel-title>
                                            <div class="col-12">
                                                <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                                                    <div class="col">
                                                        <div class="row">

                                                            <div class="col-3">
                                                                <div class="col">
                                                                    <strong>Cliente: </strong>
                                                                    <span class="dado-cliente">
                                                                        Francisco Souza Rangel Nunes
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div style="margin-left: -8%;" class="col-3">
                                                                <strong>Id: </strong>
                                                                <span class="dado-cliente">
                                                                    1234
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -21%;" class="col-3">
                                                                <strong>CPF: </strong>
                                                                <span class="dado-cliente">
                                                                    48484486-47
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -17%;" class="col-3">
                                                                <strong>Telefone: </strong>
                                                                <span class="dado-cliente">
                                                                    (11) 97300-1841 /Tefefone
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -9%;" class="col-3">
                                                                <strong>Nascimento: </strong>
                                                                <span class="dado-cliente">
                                                                    21/09/2001
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -14%;" class="col-3">
                                                                <strong>Senha: </strong>
                                                                <span class="dado-cliente">
                                                                    12345678901234567890
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -11%;" class="col-3">
                                                                <strong>Email: </strong>
                                                                <span class="dado-cliente">
                                                                    chicorangel1515rangezbzsbsdggdg@gmail.com
                                                                </span>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    
                                        <div class="col-12 mt-2 mb-2 custom-table-form-box">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                                <table style="margin-top: 2%;" cellspacing="0" cellpadding="0" class="table custom-table mt-3">

                                                    <thead>
                                                        <tr style="border-bottom: 1px solid #E6E6E6;">
                        
                                                            <th scope="col">Dados do Cliente</th>
                                                            <th scope="col">Excluir o cliente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><button class="btn btn-primary" type="button" (click)="irInformacaoCliente()">Visualizar</button></td>
                                                            <td><button class="btn btn-danger">Deletar</button></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>