<div class="container-fluid my-4 mx-auto">
    <div class="row">
        <div class="col-12">
            <button class="custom-btn-back" type="button" (click)="backPage()">Retornar</button>
        </div>

        <div class="col-12">
            <h1 class="titulo">Consultar Clientes</h1>
        </div>

        <hr>
    </div>

    <div class="col-12">
        <div class="row">
            <div style="margin-left: 0" class="col-12">
                <label class="custom-label">
                    <form>
                    <input class="custom-input" type="search" [formControl]="pesquisaNome" placeholder="Pesquise o cliente pelo nome"  aria-label="Search"/>
                    <button type="submit" style="background: transparent; border: none !important;
                    font-size:0;" (click)="pesquisarCliente()"></button>
                    </form>
                </label>
            </div>
        </div>
    </div>

    <div class="tab-pane fade show">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row">
                        <div class="col-12" *ngFor="let cliente of clientes">
                            <mat-accordion>
                                <mat-expansion-panel id="cli{{cliente.id}}">
                                    <mat-expansion-panel-header expandedHeight="auto" collapsedHeight="auto">
                                        <mat-panel-title>
                                            <div class="col-12">
                                                <div class="row" style="margin-top: 1%;margin-bottom: 1%;">
                                                    <div class="col">
                                                        <div class="row">

                                                            <div class="col-3">
                                                                <div class="col">
                                                                    <strong>Cliente: </strong>
                                                                    <span class="dado-cliente">
                                                                        {{cliente.nome}}
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div style="margin-left: -7.5%;" class="col-3">
                                                                <strong>Id: </strong>
                                                                <span class="dado-cliente">
                                                                    {{cliente.id}}
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -20.5%;" class="col-3">
                                                                <strong>CPF: </strong>
                                                                <span class="dado-cliente">
                                                                    {{cliente.cpf}}
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -12%;" class="col-3">
                                                                <strong>Status: </strong>
                                                                <span class="dado-cliente">
                                                                    {{cliente.status}}
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -14.5%;" class="col-3">
                                                                <strong>Nascimento: </strong>
                                                                <span class="dado-cliente">
                                                                    {{cliente.dataNascimento |  date: 'dd/MM/yyyy'}}
                                                                </span>
                                                            </div>

                                                            <div style="margin-left: -10%;" class="col-3">
                                                                <strong>Email: </strong>
                                                                <span class="dado-cliente">
                                                                    {{cliente.email}}
                                                                </span>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </mat-panel-title>
                                    </mat-expansion-panel-header>


                                        <div class="col-12 mt-2 mb-2 custom-table-form-box">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3">
                                                <table style="margin-top: 2%;" cellspacing="0" cellpadding="0" class="table custom-table mt-3">

                                                    <thead>
                                                        <tr style="border-bottom: 1px solid #E6E6E6;">

                                                            <th scope="col">Dados do Cliente</th>
                                                            <th scope="col">Excluir o cliente</th>
                                                            <th scope="col">Ativar Cliente</th>
                                                            <th scope="col">Inativar Cliente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><button class="btn btn-primary" type="button" (click)="irInformacaoCliente(cliente.id)" id="cliVisualizar{{cliente.id}}">Visualizar</button></td>
                                                            <td><button class="btn btn-danger" type="button" (click)="deletarCliente(cliente.id)">Excluir</button></td>
                                                            <td><button class="btn btn-success" type="button" [disabled]="cliente.status == true" (click)="ativarCliente(cliente.id)">Ativar</button></td>
                                                            <td><button class="btn btn-warning" type="button" [disabled]="cliente.status == false" (click)="inativarCliente(cliente.id)">Inativar</button></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>


                                </mat-expansion-panel>
                            </mat-accordion>

                            <br>
                        </div>

                    </div>

                    <br>
                        <button class="btn btn-success" type="button" (click)="cadastrarCliente()" style="margin-left: 40rem;">Cadastrar Novo Cliente</button>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <br><hr><br>
    <div class="row">
    <div class="col-12 mt-3">
        <nav>
            <ul class="pagination pagination-sm justify-content-center">

                <li class="page-item">
                    <a class="page-link" tabindex="-1">
                        <img class="passador"src=".\assets\icons8-chevron-esquerda-50.png" alt="Anterior">
                    </a>
                </li>
                <li class="page-item" *ngFor="let pag of paginacao;let i = index">
                    <a class="page-link">{{i+1}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        <img class="passador" src=".\assets\icons8-chevron-right-50.png" alt="Próximo">
                    </a>
                </li>
            </ul>
            <ul class="pagination pagination-sm justify-content-center">
                <li>
                    <span>1 de 12</span>
                </li>
            </ul>
        </nav>
    </div>
    </div>

</div>
