<div class="container">
  <div class="card">
    <div class="col-12 text-center">
      <label class="label">Categoria de Ativação</label>
    </div>
    <div class="col-12">
      <div class="row">
        <label class="form-label">Categoria de Ativação</label>
      </div>

      <form [formGroup]="formMotivo">

      <select class="form-select" formControlName="motivo">
        <option [ngValue]="null">-- Escolha uma Categoria de Ativação --</option>
        <option *ngFor="let motivo of Motivos" [ngValue]="motivo.msg">{{motivo.msg}}</option>
      </select>

      </form>
    </div>
    <div class="col-12 text-center mt-3">
      <button type="button" class="btn btn-primary mt-3"(click)="cadastrarMotivoAtivacao()" >Ativar Funcionario</button>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
