body{
    margin: 0;
}
.card {
    margin: 50px;
    height: 360px;
    width: 300px;
    background-color: rgb(195, 195, 195);
    
}
.card img {
    width: 274px;
    height: 240px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.dvd {
    margin-left: 8px;
}
.bluray {
    margin-left: 16px;
}
.btn-carrinho{
    margin-top: 6px;
    background-color: rgb(35,35,142);
    border: none;
    border-radius: 4px;
    color: white;
    height: 2rem;
}
.btn-carrinho:hover {
    background-color: rgb(20,20,102);
}
/*Passador de Paginas*/
.passador{
    width: 18px;
    height: 18px;
}
/*Carrosel*/
.carousel-inner img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) { 
    .carousel-inner {
        margin-left: 9.2rem;
        max-width: 1000px;
        max-height: 500px;
    }
}