<div class="container-fluid my-4 mx-auto">

    <br>
    <hr><br>

    <div style="background-color:rgb(199, 199, 199);border: 3px solid black;">

        <br><br>
        <div class="col-md-12 text-center">
            <h1><span style="color: rgb(25, 139, 214);font-size: 32px;"><strong>{{produto?.titulo}}</strong></span></h1>
        </div>

        <br>

        <div class="row">

            <div style="background-color: rgb(238, 238, 238);display: flex;border: 3px solid black;" class="imagem">
                <hr class="linha-superior">
                <div>
                    <img src="{{produto?.img}}" />
                </div>
                <div style="margin-left: 16px">
                    <table>
                        <thead>
                            <tr>
                                <h2 style="margin-left: 26.4rem;margin-top: 2rem;font-weight:600;color:rgb(0, 0, 0)">
                                    Sinopse</h2>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{produto?.sinopse}}
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>


            <table class="table">
                <thead class="cabeca">
                    <tr>
                        <th>Categoria</th>
                        <th>Ano de Lançamento</th>
                        <th>Direção</th>
                        <th>Tipo</th>
                        <th>Produtora</th>
                        <th>Duracao</th>
                        <th>Estoque</th>
                    </tr>
                </thead>
                <tbody class="corpo">
                    <tr>
                        <td>{{produto?.categoria}}</td>
                        <td>{{produto?.ano | date: 'yyyy'}}</td>
                        <td>{{produto?.direcao}}</td>
                        <td>{{produto?.tipo}}</td>
                        <td>{{produto?.produtora}}</td>
                        <td>{{produto?.duracao}}</td>
                        <td>{{produto?.estoque}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <br>

        <hr>
        <div class="col-12">

            <div style="display:flex;">

                <div class="col">
                    <label style="margin-left: 12px;" class="form-label">Escolha a Quantidade:
                        <input value="1" type="number" min="1" max="10" class="form-control" [(ngModel)]="this.carrinhoProduto.quantidade"/></label>

                </div>

                <div class="col">
                    <label class="form-label3">Comprar Produto:</label>
                    <br><br>
                        <button class="btn-comprar" (click)="adicionarAoCarrinho()">COMPRAR</button>
                </div>


            </div>

            <br><br>
            <hr>
            <div class="col-12 text-center">
            <label class="form-label2"><strong>Preço Produto:</strong></label>
            <br>
            <h1 class="azulforte"><strong>R$ {{produto.preco}}</strong></h1>
            </div>

        </div>
    </div>
    <br><hr>
</div>
