<div class="container">
    <div class="card">
      <div class="col-12 .col-s-12 text-center">
        <label class="label">Faça Login</label>
      </div>
        <div class="col-6  .col-s-6">
          <label class="form-label">Email</label>
          <input type="email" class="inputemail">
        </div>
        <div class="col-6  .col-s-6">
          <label class="form-label">Senha</label>
          <input type="text" class="inputsenha">
        </div>
        <div class="col-6  .col-s-6">
          <label>Esqueceu a Senha?
            <span class="esqueceuConta">Clique aqui</span>
          </label>
        </div>
        <div class="col-12 .col-s-12 text-center">
          <button type="button" class="btn btn-primary mt-3">Login</button>
        </div>
    </div>
    <label class="label2 col-12 .col-s-12 text-center mt-3">Não possui conta? <span class="semConta"> Clique aqui</span></label>
    <div class="col-12 text-center mt-4">
      <button type="button" class="btn btn-primary" (click)="backPage()" >Retornar</button>
    </div>
  </div>
  