.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nome-usuario {
  font-weight: bold;
  font-size: 20px;
}

.email-usuario{
  font-size: 15px;
}

.labels {
  font-size: 13px;
  font-weight: bold;
}

.links {
  cursor: pointer;
  font-size: 20px;
  color: #737373;
}

.links:hover {
  color: #bfbfbf;
}

.padding {
  padding-top: 33%;
  padding-left: 10%;
}
