 <div class="container">
     
    <br>
    <br>

    <div class="col-12 text-center">
        <h2>Resultado de busca por:</h2>
        <h1 style="color: rgb(36, 96, 187);"><strong>{{resultado}}</strong></h1>
    </div>

    <br>
    <div style="background-color:rgba(35, 35, 35, 0.204);">
    <hr style="border: 2px solid black;">
    <br>
    
    <div class="row" *ngIf="produtos">
        
            <ng-container *ngFor="let produto of produtos">
                <div class="card col-md-6">
                    <div *ngIf="produto.status == true">
                        <a (click)="produtoSelecionado(produto.id)">
                            <img src="{{produto.img}}" alt="">
                            <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                                {{produto.titulo}} - <strong style="color: rgb(37, 85, 182);">{{produto.tipo}}</strong>
                            </h4>
                            <div class="precos"><strong class="dvd">R$ {{produto.preco}}</strong></div>
                        </a>
                        <div class="text-center">
                        <button class="btn-carrinho" (click)="produtoSelecionado(produto.id)">Adicionar ao carrinho</button>
                        </div>
                    </div>
                    <div *ngIf="produto.status == false">
                        <a>
                            <img src="{{produto.img}}" alt="">
                            <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                                {{produto.titulo}} - <strong style="color: rgb(37, 85, 182);">{{produto.tipo}}</strong>
                            </h4>
                            <div class="precos"><strong class="dvd">R$ {{produto.preco}}</strong></div>
                            <div class="text-center">
                            <h3 style="color:red"><strong>Produto Indisponivel</strong></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-container>
    </div>

    <div class="row" *ngIf="comparacao > 0">
        <br>
        <br>
        <div class="text-center">
            <h1 style="font-weight:600;color:red;">O Item não foi encontrado!</h1>
            <h3 style="font-weight:600;color: rgb(36, 96, 187);">Verifique se não há erro de digitação.</h3>
        </div>
        <br>
        <br>
    </div>

    <br>
    <hr style="border: 2px solid black;">
    </div>
    <br>
    <div class="row">
    <div class="col-12 mt-3">
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                
                <li class="page-item">
                    <a class="page-link" tabindex="-1">
                        <img class="passador"src=".\assets\icons8-chevron-esquerda-50.png" alt="Anterior">
                    </a>
                </li>
                <li class="page-item" *ngFor="let pag of paginacao;let i = index">
                    <a class="page-link">{{i+1}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link">
                        <img class="passador" src=".\assets\icons8-chevron-right-50.png" alt="Próximo">
                    </a>
                </li>
            </ul>
            <ul class="pagination pagination-sm justify-content-center">
                <li>
                    <span>1 de 12</span>
                </li>
            </ul>
        </nav>
    </div>
    </div>

</div>