<div class="container">
  <div class="card">
    <div class="col-12 text-center">
      <label class="label">Motivo Ativação</label>
    </div>
    <div class="col-12">
      <div class="row">
        <label class="form-label">Motivo da Ativação</label>
      </div>
      <select class="form-select">
        <option selected>-- Escolha um Motivo de Ativação --</option>
        <option value="1">Fim do Periodo de Banimento</option>
        <option value="2">Usúario Re-Logado</option>
      </select>
    </div>
    <div class="col-12 text-center mt-3">
      <button type="button" class="btn btn-primary mt-3" >Ativar Cliente</button>
    </div>
  </div>
  <div class="col-12 text-center mt-4">
    <button type="button" class="btn btn-primary" (click)="backPage()">Retornar</button>
  </div>
</div>
